h1, .h1,
h2, .h2,
h3, .h3, 
h4, .h4,
h5, .h5,
h6, .h6 {
  margin: 1rem 0;
	display: flex;
	align-items: center;
  line-height: 1em;
  font-family: 'Aracne Ultra Condensed';
}
h1, .h1,
h2, .h2,
h3, .h3 {
  text-transform: uppercase;
	font-weight: normal;
}
h2, .h2,
h3, .h3 {
  margin-top: 2rem;
}
h1, .h1 { font-size: 2.6rem; }
h2, .h2 { font-size: 2.0rem; }
h3, .h3 { font-size: 1.7rem; }