.page-cms main{
  p, 
  ul li,
  ol li {
    text-align: justify;
    line-height: 1.5rem;
  }
}

ol {
  padding-left: 2rem;
}
ul {
	list-style-type: circle;
	
  li[class*="icon"],
  &[class*="icon"] {
    list-style-type: none;
  }
  
  &[class*="icon"]::before {
    float: left;
  }
}

[tabindex="-1"] {
	outline: none;
}

img {
  transition: filter .5s;
  
  &.lazyload {
    //filter: brightness(95%) blur(20px);
    visibility: hidden;
  }
  &.lazyloading {
    //filter: brightness(95%) blur(20px);
    visibility: hidden;
  }
  &.lazyloaded {
    //filter: brightness(95%) blur(0);
  }
}