body > header {
	position: sticky;
	top: 0;
	z-index: 90;
  background: var(--color-bcgr);
	
	a { color: inherit; }
  .header-logo { color: #a9def1; }
	
  .header-banner {
    max-width: var(--size-body);
    text-align: center;
  }

  .header-top {
    @include content;
		position: relative; // !IMPORTANT for menu!
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    
    .desktop-only { display: none; }
    .mobile-only  { display: flex; }
    
    .header-shortcuts {
      padding: 1rem 0;
			order: 2;
      display: flex;
      flex-grow: 1;
      justify-content: space-between;
			align-items: center;
      
      > * { order: 1; }
    }
    
    .header-logo {
			order: 1;
			a.logo {
				display: flex;
        align-items: center;
			}
      img {
				margin: 1rem;
        margin-left: 0;
				max-width: 120px;
        max-height: 2.6rem;
      }
    }
		
    .header-nav {
      width: 100%;
      order: 3;
      display: flex;
      flex-grow: 100;
      align-self: stretch;      
			.menu-images-container { display: none;	}
    }
  }
}

body.layout-mini > header {
  background: var(--color-frst);
  
  .header-top .header-shortcuts {
    justify-content: flex-start;
    .header-title {
      h1 {
        margin: 0 1rem;
      }
    }
  }
}

@media screen and (min-width: $brkp-m-devices) {
  body > header {    
    .header-top {      
      .desktop-only { display: flex; }
      .mobile-only  { display: none; }
      
      .header-shortcuts {
        order: 3;
        flex: 1;
        justify-content: flex-end;
      }

      .header-logo {
        order: 1;
        flex: 1;
      }

      .header-nav {
        width: auto;
        order: 2;
        flex: 0;
      }
    }
  }
}