.prices {
	margin: 1rem;
	
	section {
		margin: 1rem 0;
		p { margin: 0; }
	}
	
	.current-price {
	}
	.regular-price {
		font-size: .7em;
		text-decoration: line-through;
	}
	
	.units {
		
	}
  
	.taxes {
		
	}
	
}