	.flex {
		display: flex;
		flex-wrap: wrap;
		align-items: stretch;
		justify-content: flex-end;
		border-radius: var(--border-radius);
    
    > section {
      display: contents;
    } 
    
    > section > div,
    > div {
      max-width: 100%;
      margin-right: 1rem;
      display: flex;
      flex-direction: column;
      flex: 1;
      align-items: flex-start;
      justify-content: space-between;
      
      &.last {
        width: calc(var(--size-body) / 4);
        min-width: fit-content;
        margin-right: 0;
      }
      &.terms {
        min-width: 100%;
        margin-right: 0;
      }
      
      > label, 
      > span {
        margin: var(--size-pdng) 0;
      }
      > ul, 
      > button, 
      > .button {
        width: max-content;
      }
      > ul {
        margin: 0;
      }
    }
    
    .social-sharing div {
      flex: 100;
    }
    
    button {
      flex-grow: calc(var(--size-body) / 4);
      &[type=submit] {
        width: 100%;
      }
    }
	}

@media screen and (max-width: $brkp-s-devices) {
	.page-product,
  .modal {

    .flex {
      > div,
      > section > div {
        min-width: 100%;
        margin-right: 0;
      }
      
      button,
      .button {
        width: 100%;
        margin-right: 0;
      }
    }
  }
}