div.products {
	max-width: 100%;
	margin-bottom: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(calc(var(--size-body) / 5), 1fr));
  grid-gap: var(--size-grid-gap);
	
	article {
    width: 100%;
    padding-top: 133.33%;
		position: relative;
    border-radius: var(--border-radius);
    overflow: hidden;
    
    a {
      position: absolute;
      top: 0; bottom: 0;
      left: 0; right: 0;
      z-index: 3;
      
    }

    .thumbnail {
      position: absolute;
      top: 0; bottom: 0;
      left: 0; right: 0;
      z-index: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: var(--border-radius);
      overflow: hidden;
        
      img {
        height: calc(100% + 10px);
        max-width: none;
        width: auto;
        object-fit: cover;
        position: relative;
        z-index: -1;
        background: var(--color-whte);
        transition: height .2s;
      }
    }
    
    .flags {
      list-style: none;
      margin: 1rem;
      padding: 0;
      position: absolute;
      top: 0; left: 0;
      z-index: 2;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      transition: opacity .5s;

      li {
        margin: 0 0 var(--size-pdng) 0;
        padding: var(--size-pdng);
        position: relative;
        background: var(--color-blck);
        border-radius: var(--border-radius);
        color: var(--color-whte);
        font-size: .7em;
      }
    }
    
    .prices {
      position: absolute;
      bottom: 0;
      z-index: 2;
      color: var(--color-blck);
      transition: opacity .5s;
    }
		
		.variant-links {
			display: none;
      position: absolute;
      bottom: 0;
      right: 0;
      z-index: 4;
		}
    
    .shadow {
      position: absolute;
      top: 0; bottom: 0;
      left: 0; right: 0;
      z-index: 1;
      //background-image: linear-gradient(to top, var(--color-blck) -500%, transparent 100%);
      border-radius: var(--border-radius);
      overflow: hidden;
    }
    
    &:hover {
      img {
        height: 105%;
      }
      
      .flags {
        opacity: 0;
      }

      .prices {
        opacity: 0;
      }

      .variant-links {
      }

      .shadow {
      }
    }
	}
	
	+ a {
		margin: 1rem 0;
		display: block;
		text-align: right;
		text-decoration: none;
		color: inherit;
		
		&:hover {
			text-decoration: underline;
			&:after {
				text-decoration: none;
			}
		}
		
		&:after {
			content: " \e079";
			margin-left: var(--size-pdng);
			font-family: 'simple-line-icons';
			speak: none;
			display: inline-block;
			vertical-align: middle;
			vertical-align: baseline;
			font-size: 1rem;
			font-style: normal;
			font-weight: normal;
			font-variant: normal;
			text-transform: none;
			line-height: 1;
			color: inherit;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
		}
	}
}

@media screen and (max-width: $brkp-s-devices) {
	div.products {
		grid-template-columns: 1fr 1fr;
		
		.flags {
			display: none;
		}
	}
}

@media (min-width: 768px) {}