.quickview {
  
  .modal-dialog {
    .modal-content {
      background: none;
      
      .modal-header {
        position: absolute;
        left: 0; right: 0;
        
        .product-prices {
          @include content;
          position: absolute;
          left: 0; bottom: 0;
        }
      }
      
      .modal-body {
        padding: 0;
        .images-container {
          margin: 3rem 0;
        }
      }
      
      .modal-footer {
        position: relative;
        background: var(--color-bcgr);
      }
    }
  }
  
  &.fade {	
    .modal-header,
    .modal-body {
      opacity: 0;
      transition: opacity .5s;
    }
    
		&.show {	
      .modal-header,
			.modal-body {
				opacity: 1;
			}
		}
	}
}