.cart-button::after { 
  content: attr(data-cart-count);
  width: 1rem;
  height: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute; 
  top: 0; right: 0;
  border-radius: 1rem;
  font-size: .7rem;
  background: var(--color-scnd);
}