input[type=checkbox],
input[type=radio] {	
  @include no-appearance;
  
  cursor: pointer;
  width: var(--size-chck);
  height: var(--size-chck);
  margin: .2rem var(--size-pdng-side) .2rem 0;
  padding: var(--size-chck-pdng);
  flex-shrink: 0; // width prevent in flexbox
  vertical-align: middle;
  display: inline-block;
  border: solid 1px var(--color-brdr);
  border-radius: var(--border-radius);
  background-clip: content-box;
	transition: padding .1s;
	
	&:hover {	
		border-color: var(--color-font);
	}
	&:focus {
		border-color: var(--color-font);
	}
	&:active {
		padding: .1rem;
		background-color: var(--color-font);
		border-color: var(--color-font);
	}
	&:disabled {	
		background-color: transparent;
		border-color: var(--color-brdr);
	}
	&:checked {
		border-color: var(--color-font);
		background-color: var(--color-font);
	}
}
input[type=radio] { 
  border-radius: 50%; 
	
  &:not(:first-of-type) { 
		margin-left: .5rem; 
	}
	&.radio-color {
		width: 1rem;
		height: 1rem;
		padding: 2px;
		box-sizing: content-box;
	}
	
	&.radio-button {
		display: none;
		
		+ label {
			cursor: pointer;
			width: max-content;
			max-width: 100%;
			margin: .2rem .4rem .2rem 0;
			padding: var(--size-pdng) var(--size-pdng-side);
			box-sizing: border-box;
			display: inline-flex;
			align-items: center;
			border: solid 1px var(--color-brdr);
			border-radius: var(--border-radius);
			vertical-align: middle;
		}
		
		&:checked + label {
			border: solid 1px var(--color-font);
		}
	}
}