@mixin button {
  @include no-appearance;
  @include no-select;

  outline: none;
  color: inherit;
  cursor: pointer;
  max-width: 100%;
  margin: var(--size-form-mrgn);
  margin-right: .4rem;
  padding: var(--size-pdng) var(--size-pdng-side);
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  background: transparent;
  border: solid 1px;
	border-color: var(--color-brdr);
  border-radius: var(--border-radius);
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
	transition: top .1s;
	&:last-child { margin-right: 0; }
  
  &:not(:empty) {
    &:before {
      vertical-align: baseline;
    }
    &:hover {	
      background-color: var(--color-font);
      border-color: var(--color-font);
      color: var(--color-bcgr);
      text-decoration: none;
    }
    &:focus{	
      background-color: var(--color-font);
      border-color: var(--color-font);
      color: var(--color-bcgr);
      text-decoration: none;
    }
    &.disabled,
    &:disabled {
      cursor: not-allowed;
      background: var(--color-dsbl);
      border-color: var(--color-dsbl);
      color: var(--color-bcgr);
    }
    &:active:not(.disabled):not(:disabled):hover {
      margin-top: .4rem;
      margin-bottom: .2rem;
      background: var(--color-font);
      border-color: var(--color-font);
      color: var(--color-bcgr);
    }
    &:focus:not(:active):not(:disabled):not(.disabled):before {
      content: "\e043";
      font-family: 'simple-line-icons';
      animation: hourglass 2s linear infinite;
    }
  }
  
  &:empty {    
    margin: 0;
    padding: 0;
    background: none;
    border: none;
    color: inherit;
    
    &:before {
      margin: 1px;
      padding: calc(var(--size-pdng) - 1px);
      border-radius: 50%;
      transition: background .2s, color .2s;
    }
    
    &:hover {
      &:before {
        background: var(--color-font);
        color: var(--color-bcgr);
      }
    }
    &.disabled,
    &:disabled {
      color: var(--color-dsbl);
    }
    &:active:not(.disabled):not(:disabled) {
      color: var(--color-font);
    }
  }
}

input[type=button],
input[type=reset],
button,
.button {
	@include button;
}

input[type=submit],
button[type=submit],
.submit {
	@include button;
	grid-column: 1 / 3;
	background: var(--color-font);
	color: var(--color-bcgr);
	border-color: var(--color-font);
}

input[type=file] {
  -webkit-appearance: none;
  -moz-appearance:    none;
  appearance:         none;
  
  outline: none;
  min-width: 9rem;
  max-width: 100%;
  padding-left: .5em;
  text-transform: none;
	
	&::-webkit-file-upload-button {
		@include button;
    margin-left: -.5em;
    color: var(--color-text);
    font-weight: normal;
    
    &:hover {	
      background-color: var(--color-font);
      border-color: var(--color-font);
      color: var(--color-bcgr);
    }
	}
}