@mixin fix-autofill {
	background-color: transparent !important;
	transition: background-color 99999999999999s ease-in-out 0s;
  box-shadow: 100px 100px inset var(--color-bcgr);
	-webkit-text-fill-color: var(--color-font) !important;
	font-family: inherit !important;
	font-size: inherit !important;
}

input[type=text], 
input[type=email],
input[type=password],
input[type=search],
input[type=tel],
input[type=url],
input[type=date], 
input[type=month],
input[type=week],
input[type=time],
input[type=datetime],
input[type=datetime-local],
.input-text,
.input-group {
  -webkit-appearance: none;
  -moz-appearance:    none;
  appearance:         none;
  outline: none;
  
  margin: var(--size-form-mrgn);
  padding: var(--size-pdng) 0;
  box-sizing: border-box;
  vertical-align: middle;
  background: transparent;
  border-width: 1px;
  border-color: var(--color-brdr);
  border-style: none none solid;
  border-radius: 0; // for safari;
  font-size: 1rem;
	
	&:-webkit-autofill { @include fix-autofill }
	&:-internal-autofill-selected { @include fix-autofill }
	&:-internal-autofill-previewed { @include fix-autofill }
		
	&:hover {	
		border-color: var(--color-font);
	}
	&:focus{	
		border-color: var(--color-font);
	}
	&:active {
		border-color: var(--color-font);
	}
	&:disabled {
		border-color: var(--color-dsbl);
	}
}
input[type="date"]::-webkit-calendar-picker-indicator {
  color: pink !important;
}