textarea {
  @include no-appearance;
  
  width: 100%;
  margin: var(--size-form-mrgn);
  padding: var(--size-pdng) var(--size-pdng-side);
  box-sizing: border-box;
  display: inline-block;
  border-color: var(--color-brdr);
  border-style: solid;
  border-radius: var(--border-radius);
  background: transparent;
}