.grid {
  margin: 1rem 0;
	padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  grid-gap: var(--size-grid-gap);
	align-items: stretch;
  list-style-type: none;
  
  > input[type=radio] {
    display: none;
  }
	
	> li {
		display: grid;
    > a:only-child {
      display: inline-block;
      text-align: left !important;
      
      &::before {
        height: 100%;
        float: left;
        line-height: 1.5;
      }
    } 
	}
  
	> section,
  > article, 
  > label,
  > li > a,
	> a {
    height: 100%;
    box-sizing: border-box;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    background-color: var(--color-frst);
    border-radius: var(--border-radius);
    grid-column: auto;
    color: inherit;
    text-decoration: none;
    
		> *:first-child {	margin-top: 0; } 
		> *:last-child { margin-bottom: 0 !important; }
    
    header,
    .header {
      display: flex;
      margin: 0 0 auto;

      span {
        margin-top: 0;
      }

      nav {
        display: inline-flex;
        flex-wrap: nowrap;
        flex: 1;
        justify-content: flex-end;
        align-items: flex-start;
        
        input[type=radio] { 
          margin: calc(var(--size-pdng) + (1rem - var(--size-chck)) / 2); 
        }
      }
    }
    
    &:not(article):not(li):not(section):hover {
      background-color: var(--color-scnd);
    }
  }
  
  &.link-list {
    a:hover {
      text-decoration: none;
    }
  }
}