.pagination {  
  p {
    text-align: center;
  }
  ul {
    margin: 0 auto;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    
    li {
      a {padding: 0;}
      .icon-number::before {
        content: attr(data-number);
        width: 1em;
        height: 1em;
        display: block;
        line-height: 1;
        font-family: inherit;
      }
      .spacer {
        padding: var(--size-pdng);
      }
    }
  }
}