.blockreassurance {
  padding: 0;
  background: var(--color-scnd);
  
  > div {
    @include content;
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  
    > div {
      padding: 1rem;
      flex: 1 1 calc(var(--size-body) / 4);
      text-align: center;
    }
  }
}

#block-reassurance {
  ul {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-content: center;
    list-style: none;
    
    li {
      margin: 2px;
      padding: var(--size-pdng);
      background: var(--color-frst);
      border-radius: var(--border-radius);
    }
  }
  
  img {
    height: 1.2rem;
    padding: .2rem;
    vertical-align: middle;
  }
}