main > a.banner {  
  max-width: 100%;
  width: 100%;
  height: 60vh;
  margin: 1rem 0;
  padding: 0;
  display: block;
  position: relative;
  overflow: hidden;
  background-attachment: fixed;
  background-size: cover;
  
  > span {
    @include content;
  }
}